*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
em,i{
    font-style:normal;
}
input{
    outline: none;
}
strong{
    font-weight:normal;
}
b{
    font-weight:normal;
}
body{
    font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing: border-box;
    height:100%;
}
html{
    height:100%;
      font-size: 31.25vw;
}
#box{
     width:100%;
     height:100%;
     display: flex;
     flex-direction: column;
     overflow: hidden;
}
 #pulldown,#pullup{
    font-size:.15rem;
    text-align: center;
    line-height:.2rem;
    height:.2rem;
}
 #scroll-container{
    height:2.75rem;
    position:relative;
    left:-99.9rem;
    overflow-y: scroll;
}
#box .imgas{
    width:100%;
    height:.21rem;
    display: flex;
}
#box .imgas img{
    width:100%;
    height:.21rem;
    vertical-align: bottom;
}
#box .nav{
    width:100%;
    text-align: center;
    background:#e4366b;
    font-weight:bold;
    height:.475rem;
    line-height:.475rem;
    color:#fff;
    border-bottom: 1px solid #000;
    font-size:.20rem;
    position:relative;
}
.nav .images{
    position:absolute;
    left:.1rem;
    top:.13rem;
    width:.3rem;
}
 .npt1{
    width:100%;
    background:#52525a;
    border-bottom: 1px solid #000;
    font-size:2rem;
    height:.4759rem;
    display: flex;
    padding-top: .02rem;
    box-sizing: border-box;
    align-items: center;
    padding-left: .12rem;
}
 .npt1 input{
    display: flex;
    width:2.95rem;
    height:.3rem;
    font-size:.15rem;
    border-radius:5rem;
    outline: none;
    border:none;
    padding:0 .1rem;
    box-sizing: border-box;
}

.main{
    width:100%;
    flex: 1;
    overflow-y: scroll;
    background:#fff;
    border-top: 1px solid #636363;
    box-sizing:border-box;
}
.swiper-container{
    width:100%;
    height:1.25rem;
    position: relative;
}
.swiper-container img {
    width: 100%;
    height:1.25rem;
    vertical-align: bottom;
}
.swiper-pagination{
    position:absolute;
    top:.2rem;
}
.list li p{
    color:#333;
    font-size:.15rem;
}
 .list3 li p:nth-of-type(1){
    color:#000;
    font-size:.13rem;
    line-height:.18rem;
    height:.36rem;
    width:1.86rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
 .list3 li p:nth-of-type(2){
    color:#f52875;
    font-size:.18rem;
    line-height:.3rem;
    height:.3rem;
}
.list li p:nth-of-type(2) span{
    color:#bbbbbb;
    margin-left:.2rem;
    font-size:.15rem;
    text-decoration: line-through;
}
 .list li p em{
    position:absolute;
    right:8%;
    top:15%;
    font-weight:bold;
}
 .list li img{
    width:100%;
    vertical-align: bottom;
}
 .list li div:nth-of-type(1){
    width:30%;
    margin-right:5%
}

 .list li div:nth-of-type(2){
    width:62%;
}
.list li div:nth-of-type(2) a{
    display: inline-block;
    position:absolute;
    right:6%;
    bottom:15%;
    width:20%;
    font-size:.20rem;
    background: #e32e65;
    border-radius:.15rem;
    color:#fff;
    border:none;
    text-align: center;
}
#box .list li div:nth-of-type(2) a img{
    width:100%;
}
#box .list li p:nth-of-type(3) span{
    color:#e4366b;
}

#box .navt{
    width:100%;
}
#box .navt img{
    width:100%;
}
.main .list li{
    color:#333;
    font-size:.32rem;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    position:relative;
    border-bottom:1px solid #aaaaaa;
    padding:.1rem;
    height: 1.11rem;
    box-sizing: border-box;
}
/*分类*/

.main .d1{
    width:100%;
}
.main .d1 .list2 li{
    width:100%;
    font-size:.2rem;
    font-weight:900;
    padding-top:2.5%;
    border-bottom: 2px solid #ccc;
    overflow: hidden;
}
.main .d1 .list2 .li1 em{
    font-size:.25rem;
    margin-left:4%;
    display:inline-block;
    padding-bottom:2%;
}
.main .d1 .list2 .li1 span{
    font-size:.2rem;
    width:5%;
    margin-right:5%;
    display:inline-block;
    padding-bottom:2%;
    float:right;
}
.main .d1 .list2 li span{
    width:4%;
    margin-right:5%;
    display:inline-block;
    padding-bottom:3%;
    float:right;
}
.main .d1 .list2 .li1 span img{
    width:100%;
}
.main .d1 .list2 li span img{
    width:100%;
}
.main .d1 .list2 li em{
    margin-left:5%;
    display:inline-block;
    padding-bottom:2%;
}
/*购物车*/
#box .npt p{
    display: flex;
    font-size:.16rem;
    color:#fff;
}
#box .npt p em{
    margin-right:.16rem;
}
#box .npt p span{
    color:#dc1a57;
}
#box .npt{
     text-align: center;
     line-height:.475rem;
     background: #52525a;
     display: none;
     padding-left: .14rem;
}

#box .buy{
    position:absolute;
    right:.12rem;
    top:.12rem;
    width:.55rem;
    background:-webkit-radial-gradient(0 10%, #f65e87, #dc1a57);
    height:.25rem;
    text-align: center;
    line-height:.2rem;
    box-shadow: 0 0 5px #ccc;
    border-radius:.05rem;
    border:none;
    outline: none;
    font-size:.15rem;
    color:#fff;
}
#box .nat .buy2{
    display: none;
}
#box .main .d2{
    display: none;
}
#box .main .shopcar{
    text-align: center;
    padding:.3rem .3rem 0 .3rem;
    display: block;
}
#box .main .shopcar p{
    font-size:.25rem;
    font-weight:700;
    margin-bottom:.2rem;
}
#box .main .shopcar img{
    width:2rem;
}
#box .main .shopcar .butnp{
    width:80%;
    height:.4rem;
    background:-webkit-radial-gradient(0 10%, #f65e87, #ea3f73);
    border:none;
    border-radius:.08rem;
    line-height:.4rem;
    font-size:.20rem;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .25rem;
}


.but1,.but2{
    background:-webkit-radial-gradient(0 10%, #f65e87, #ea3f73);
    border:none;
    border-radius:.08rem;
    line-height:.3rem;
    font-size:.15rem;
    color:#fff;
    width:.5rem;
    height:.3rem;
    text-align: center;
    outline: none;
    margin-right: .1rem;
}
#box .main .d2 .lit li p{
    font-size:.15rem;
    margin-bottom:0.05rem;
}
#box .main .d2 .lit p:nth-of-type(4) span{
    width:15%;
    display: inline-block;
    background:#9b9b9b;
    text-align: center;
    border-radius:.1rem;
    color:#fff;
    font-size:.2rem;
    float:left;
}
#box .main .d2 .lit p:nth-of-type(4) b{
    float:left;
}
#box .main .d2 .lit p:nth-of-type(4) input{
    width:12%;
    padding:2%;
    border-radius:0.08rem;
    float:left;
    margin:0 .1rem;
    text-align: center;
    font-size:.1rem;
}

#box .d2 .lit li p em{
    position:absolute;
    right:8%;
    top:45%;
    font-weight:bold;
}
#box .d2 .lit .p1{
    width:1.6rem;
    height:.36rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#box .d2 .lit .p1 i{
    position:absolute;
    right:8%;
    top:10%;
    display: inline-block;
    width:4%;
    font-weight:bold;
}
#box .d2 .lit .p1 span img{
    width:100%;
}
/*我的秀*/
#box .d3{
    width:100%;
}
#box .d3 .ds1{
    width:100%;
    height:1.22rem;
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    padding-left: .18rem;
    padding-top:.24rem;
    margin-bottom:.25rem;
}
#box .d3 .ds1 .dimg{
    width:27%;
   /* margin-right:.1rem;
    margin-bottom: .3rem;*/
}
#box .d3 .ds1 .dimg img{
    width:100%;
}
#box .d3 .ds1 .dimg2{
    width:60%;
    margin-left:.1rem;
}
#box .d3 .ds1 .dimg2 p{
    font-size:.16rem;

    padding:.13rem 0;
    font-weight:700;
    width:1.5rem;
}
#box .d3 .dimg2 .butn{
    width:80%;
    height:.3rem;
    display: flex;
}

#box .d3 .ds1 .dimg2 .btnu1{
    margin-right:0;
}
#box .d3 .ds2{
    width:87%;
    border:1px solid #ccc;
    box-sizing:border-box;
    border-radius:.1rem;
    margin-left: .22rem;
}
#box .d3 .ds2 p{
    width:100%;
    font-size:.20rem;
    font-weight:700;
    padding:.15rem 0 .15rem .15rem;
    border-top:1px solid #ccc;
    box-sizing:border-box;
}
#box .d3 .ds2 p span{
    width:5%;
    float:right;
    margin-right:5%;
}
#box .d3 .ds2 p span img{
    width:100%;
}
#box .d3 .ds2 p:nth-of-type(1){
    border-top:none;
}
/*更多*/
#box .d4{
    width:100%;
    box-sizing: border-box;
    padding:.25rem .25rem 0 .25rem;
    display: flex;
    flex-direction: column;
}
#box .d4 .ds2{
    width:100%;
    margin-left: 0;
    margin-bottom:.1rem;
}
#box .d4 .dt{
    margin-bottom:.25rem;
}
#box .d4 button{
    width:100%;
    height:.39rem;
    font-size:.20rem;
    color:#fff;
    background:#df265f;
    border-radius:.1rem;
    outline: none;
    border:none;
}
/*登录*/
.fom{
    display: flex;
    flex-direction: column;
    font-size:.15rem;
    padding:.3rem .2rem 0rem .2rem;
}
.fom .Id,.fom .pass{
    height:.4rem;
    padding-left:.1rem;
    border-radius: .08rem;
    outline: none;
    font-size:.15rem;
    font-weight:700;
    box-shadow: 1px 1px 2px #f9f9cc;
    margin-bottom:.2rem;
}
.fom .changes{
    width:.15rem;
    height:.15rem;
    float:left;
}
.fom p{
    overflow: hidden;
    margin-bottom:.3rem;
}

.fom em{
    color:#717171;
    margin-right: .2rem;
}
.fom span{
    color:#9d9d9d;
    text-decoration: underline;
}
.fom .btt{
    background:-webkit-radial-gradient(0 10%, #f65e87, #ea3f73);
    border:none;
    border-radius:.08rem;
    line-height:.4rem;
    font-size:.20rem;
    color:#fff;
    width:100%;
    height:.4rem;
    text-align: center;
    outline: none;
}
/*我的订单*/
#box .main .ma a{
    width:.7rem;
    height:.25rem;
    line-height:.25rem;
    font-size:.1rem;
}
#box .main .ma{
    display: none;
}

#box .main .ma .list p{
    margin-bottom:.05rem;
}
#box .main .ma .list p:nth-of-type(1){
    width:1.6rem;
    height:.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:.05rem;
}
#box .main .ma .list p:nth-of-type(2) span{
    font-size: .15rem;
    color:#f65e87;
    text-decoration: none;
    margin-left: 0;
}
/*浏览记录*/
#box .main .ma1 .list .p2 span{
    margin-left:.1rem;
    color:#f65e87;
}
/*收藏*/
#box .main .ma2 .list li{
    position:relative;
}
#box .main .ma2 .list .p1 span{
    position:absolute;
    right:.2rem;
    top:.1rem;
}
#box .main .ma2 .list .p1 img{
    width:.15rem;
}
/*我的优惠券*/
.pices{
    font-size:.15rem;
    box-sizing: border-box;
    padding:.2rem;
}
.pices .pice-list{
    display: flex;
    margin-bottom: .2rem;
}
.pices .pice-list li{
    flex:1;
    text-align: center;
    height:.4rem;
    font-size:.18rem;
    font-weight:700;
    line-height:.4rem;
    background:-webkit-radial-gradient(0 10%, #eee, #ccc);
    border:1px solid #ccc;
    box-sizing: border-box;
}
.pices .pice-list .li1{
    border-radius: .08rem 0 0 .08rem;
}
.pices .pice-list .li4{
    border-radius: 0 .08rem .08rem 0;
}
.pices .pice-list .active{
    background:-webkit-radial-gradient(0 10%, #f65e87, #f1517d);
    color:#fff;
}
.pices .pice-pe{
    font-size:.15rem;
    height:1rem;
    border:1px solid #ccc;
    border-radius: 0.08rem;
    padding:.1rem;
    box-sizing: border-box;
}
.pices .pice-pe div{
    height:100%;
    display: none;
}
.pices .pice-pe .dta2{
    display: block;
}
.pices .pice-pe .dta1{
    text-align: center;
    font-size:.4rem;
    font-weight:700;
    line-height:.8rem;
}
.pices .pice-pe p{
    color:#333;
    line-height:.2rem;
}
.pices .pice-pe p span{
    color:#898989;
}
/*商品介绍*/
#box .ptan{
    display: block;
}
#box .ptan p em{
    margin-right:0;
}
#box .ptan p span{
    color:#fff;
}
.mvp{
    padding:.2rem .2rem  0 .35rem;
    flex-direction: column;
    font-size:.15rem;
    justify-content: center;
    align-items: center;
}
.mvp div:nth-child(1){
    width:2.5rem;
   height:2.1rem;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: .3rem;
}
.mvp div:nth-child(1) img{
    width:100%;
}
.mvp div:nth-child(2){
    /*background:-webkit-radial-gradient(10% 20%, #f1517d, #d81452);*/
    background:linear-gradient(to top,#d81452, #f1517d,#f26a95);
    width:95%;
    height:.5rem;
    font-size:.18rem;
    color:#fff;
    line-height:.5rem;
    border-radius: 0.08rem;
    margin-bottom:.28rem;
}
.mvp div:nth-child(2) span{
    margin:0 .2rem;
}
.mvp div:nth-child(3) {
    width:90%;
    overflow: hidden;
    color:#545454;
    margin-bottom: .2rem;
}
.mvp div:nth-child(3) em{
    text-decoration: line-through;
    margin-right:.2rem;
}
.mvp div:nth-child(3) i{
    float:right;
}
/*商品详情*/
.mvp2{
    width:100%;
}
.mvp2 img{
    display: flex;
    width:100%;
}
.mvp2 .dst{
    padding:.1rem .1rem 0 .1rem;
    box-sizing: border-box;
}
.mvp2 p{
    font-size:.14rem;
    color:#898989;
    margin-bottom:.1rem;
}
.mvp2 p span:nth-child(2){
    margin:0 .1rem;
}
.mvp3 {
    width:100%;
}
.mvp3 .swiper-container{
    width:100%; height:4.47rem;
    position:relative;
}

.mvp3 img{
    width:100%;
    height:4.47rem;
}
.mvp3 .page{
    position:absolute;
    top:3.2rem;
}
.mtp{
    display: block;
}
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.footer{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    width:100%;
    background:#484850;
    height:.52rem;
    box-sizing:border-box;
}
.footer div{
    width:20%;
    box-sizing:border-box;
    text-align: center;
    border-top:0.03rem solid #484850;
    height:.52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot div{
     flex:1;
     flex-direction: row;
     font-size:.2rem;
     color:#fff;
}
.foot .dvt2{
    border-top:0.03rem solid #e43669;
}
.foot .dvt3{
    border-left:1px solid #333;
    border-right:1px solid #333;
}
.footer div p{
    color:#fff;
    display: flex;
    font-size:.13rem;
    justify-content: center;
    align-items: center;
}
.footer .dvt1{
    border-top:0.03rem solid #e43669;

}

.footer div p:nth-of-type(1){
    display: flex;
    width:.22rem;
    font-size:.25rem;
  }

